{% load static %}
<div class="block block--highlighted block-categories block-categories--layout--classic">
    <div class="container">
        <div class="block-header">
            <h3 class="block-header__title">Popular Categories</h3>
            <div class="block-header__divider"></div>
        </div>
        <div class="block-categories__list">
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image"><a href="#"><img
                                src="{% static 'images/categories/category-1.jpg' %}" alt=""></a></div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Power Tools</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Screwdrivers</a></li>
                            <li><a href="#">Milling Cutters</a></li>
                            <li><a href="#">Sanding Machines</a></li>
                            <li><a href="#">Wrenches</a></li>
                            <li><a href="#">Drills</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">572 Products</div>
                    </div>
                </div>
            </div>
            <div class="block-categories__item category-card category-card--layout--classic">
                <div class="category-card__body">
                    <div class="category-card__image"><a href="#"><img
                                src="{% static 'images/categories/category-2.jpg' %}" alt=""></a></div>
                    <div class="category-card__content">
                        <div class="category-card__name"><a href="#">Hand Tools</a></div>
                        <ul class="category-card__links">
                            <li><a href="#">Screwdrivers</a></li>
                            <li><a href="#">Hammers</a></li>
                            <li><a href="#">Spanners</a></li>
                            <li><a href="#">Handsaws</a></li>
                            <li><a href="#">Paint Tools</a></li>
                        </ul>
                        <div class="category-card__all"><a href="#">Show All</a></div>
                        <div class="category-card__products">134 Products</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>